/*----------- font-------  */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

body{
   
}

/* ================================navberstyle===========================
-------------------------------------------------------------------------  */
.menu-bar{background-color: rgba(91, 166, 236, 0.5);
    
    display:flex;
    justify-content:space-between;
        
    }
    ul{
      display: flex;
      
        list-style: none;
        padding: 15px 15px;
    }
    li{
        font-size: 17px;
       
        
    }
    .bar{
        font-size: 1.1em;
        color: rgb(24, 82, 168);
    }
    .menu-bar{
        align-items: center;}
    .menu a{
        text-align: center;
        align-items: center;
        font-size: 25px;
        text-decoration: none;
        color: rgb(44, 23, 23);
        padding: 10px 25px;
        
    }
    .menu-hover:hover{
        color: rgb(126, 121, 121);
       background-color: rgb(255, 255, 255);
        border-radius: 25px;
        transform: scale(80deg);
    }
    
    li a{
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 5px 15px;
        
        
    }
    a:hover{
        color: rgb(126, 121, 121);
       background-color: rgb(255, 255, 255);
        border-radius: 25px;
        transform: scale(80deg);
    }
    .head-icon{
        color: rgba(0, 0, 255, 0.445);
    }
    
    /* ======header style=======
    ============================= */
    
    .header-container{
        
        background-image: url(./images/bg-6.jpg);
    }
    .my-name{
        
        font-family: 'Merriweather', serif;
        text-align: center;
         
    }
    
    .name-1{
        font-size: 3em;
    
        text-shadow: 0px 0px 20px rgb(4, 146, 92);
    }
    
    hr{
        border: 1px solid rgb(5, 23, 29);
        width: 500px;
        margin:auto ;
    }
    /* header text  */
    .header-texts{
        display: flex;
        justify-content: center;
        
    }
    .header-text
    {
        text-align: center;
    }
        
    
    .about-me{
       text-align: center;
        width: 400px;
    }
    /* another bootstrap style */
    .one{
        font-size: 1.2em;
       margin-top: 80px;;
       font-weight: 600;
    }
    .Atiqur{
        font-family: 'Merriweather', serif; 
    }
    .text{
        text-align: justify;
    }
    .footer{
        box-shadow: 0px 0px 2px gray;
    }
    